<template>
  <web-component-link url="https://rawgit.com/SemViz/SemViz-TestComponent/master/public/testComponent/" main="index.html" tag="test-component" class="TestComponent"></web-component-link>

  <div class="testComponentContainer-container">
    I am a Container of test-component
    <test-component></test-component>
    <div id="message">
    </div>
  </div>
  <style>
    .testComponentContainer-container{
      background-color: Green ;
      margin: 5px;
      padding: 5px;
    }
  </style>
  <script>
    //console.log('INNER SCRIPT for testComponentContainer');
  </script>
  <% for (var index in htmlWebpackPlugin.files.js) { %>
  <script src="./<%= htmlWebpackPlugin.files.js[index] %>"></script>
  <% } %>
</template>
<script>
  class testComponentContainer extends HTMLElement {
    constructor(postal) {
      super();
      this.postal = postal;
      if (this.postal != undefined) {
        this.subscription = this.postal.subscribe({
          channel: "main",
          topic: "item",
          callback: function(data, envelope) {
            // `data` is the data published by the publisher.
            // `envelope` is a wrapper around the data & contains
            // metadata about the message like the channel, topic,
            // timestamp and any other data which might have been
            // added by the sender.
            console.log(data, envelope);
            this.shadowRoot.querySelector('#message').innerHTML = data.message;
          }.bind(this)
        });
      }
      this.subscriptions = [];
    }

    setChannel(channel) {
      this.channel = channel;
      this.subscriptions.push(channel.subscribe("message/item/dislpay", (data, envelope) => {
        console.log('MESSAGE SUBSCRIBE');
        this.shadowRoot.querySelector('#message').innerHTML = data.node.text;
      }));
    }
  }
</script>
