<template>
  <div class="testComponent-container">
    I am TestComponent
    <div id="testComponent-content">
      and you can click me
    </div>
  </div>

  <style>
    .testComponent-container{
      background-color: LightGrey ;
      margin: 5px;
      padding: 5px;
    }
    #testComponent-content{
      background-color: grey;
      color: white;
      margin: 5px;
      padding: 5px;
    }
  </style>
  <script>
    //console.log('INNER SCRIPT for testComponent');
  </script>
  <% for (var index in htmlWebpackPlugin.files.js) { %>
  <script src="./<%= htmlWebpackPlugin.files.js[index] %>"></script>
  <% } %>
</template>
<script>
  //const currentDocument = document.currentScript.ownerDocument;
  class TestComponent extends HTMLElement {
    constructor(postal) {
      super();
      this.postal = postal;
      // Setup a click listener on <user-card>
      this.addEventListener('click', e => {
        this.sayHello();
      });
      this.subscriptions = [];
    }
    // setChannel(channel) {
    //   this.channel = channel;
    //   this.subscriptions.push(channel.subscribe("message/item/dislpay", (data, envelope) => {
    //     console.log('MESSAGE SUBSCRIBE');
    //   }));
    // }
    sayHello() {
      console.log("Element was clicked!");
    }

    sayDomHello() {
      console.log("Dom of element was clicked!");
      if (this.postal != undefined) {
        this.postal.publish({
          channel: "main",
          topic: "item",
          data: {
            message: "your neighbor is talking to you",
          }
        });
      }
    }
  }
</script>
